body{
	margin:0;
}
*{
   border:none;
}
.clearit{
	clear:both;
}
form.contactUs {
 padding:0;
 width:20%;
 margin:0 auto;
 border:1px solid #dedede;
 position:relative;
 bottom:0;
 left:0;
 background:#fff;
 text-align:center;
}
form.contactUs span {
 color:red;
}
form.contactUs ul, form.contactUs label {
 padding:0;
 list-style:none;
 color:#666;
}
form.contactUs ul li {
 margin:5px;
 border:1px solid #dedede;
}
form.contactUs ul li:nth-child(odd){
 width:30%;
 float:left;
}
form.contactUs ul li:nth-child(even){
 width:60%;
 float:left;
}
